@model IEnumerable<Student>

@{
    ViewData["Title"] = "GetStudentByTrackID";
    Layout = "~/Views/Shared/MainLayout.cshtml";
    var currentDateAndTime = DateTime.Now.ToString("yyyy-MM-dd");


}
<link href="~/css/attendance.css" rel="stylesheet" />

<h2 class="head">Add Students Attendances </h2>
<div class="date-section">
    <h3>Date: <span>@currentDateAndTime</span></h3>
</div>


@{
    var viewData = new ViewDataDictionary(ViewData)
            {
                Model = Model,
                ["PropertiesToShow"] = new List<string> { "Id", "Fname", "Lname", "TrackName" }
            };
    await Html.RenderPartialAsync("~/Views/Shared/_DataTable.cshtml", Model, ViewData);

}

@*
    <table id="attendanceTable" class="table table-bordered table-hover m-3">
    <thead>

    <th align="center">ID</th>
    <th align="center">Fname</th>
    <th align="center">Lname</th>
    <th align="center">Track</th>
    <th align="center">Attendance</th>
    <th align="center">Leave</th>

    </thead>


    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="5">NO Students Exists</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Fname</td>
                    <td>@item.Lname</td>
                    <td>@item.trackId</td>
                    <td align="center">
                        <form method="post" asp-action="ConfirmStudentAttendace" asp-controller="Security" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-outline-primary m-3">Confirm Attendance</button>
                        </form>
                    </td>

                    <td align="center">
                        <form method="post" asp-action="ConfirmStudentCheckout" asp-controller="Security" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-outline-primary m-3">Confirm Leave</button>

                        </form>
                    </td>




                </tr>
            }
        }

    </tbody>

</table>
 *@