@using System.Reflection
@using System.Text.RegularExpressions
@model IEnumerable<object>
@{
    IAttendance Attendance = ViewBag.Attendance;
}



@functions {
    List<string> GetSelectedProperties(object model, List<string> propertyNames)
    {
        if (model == null)
        {
            throw new ArgumentNullException(nameof(model));
        }
        List<string> values = new List<string>();
        foreach (var propertyName in propertyNames)
        {
            var value = GetPropertyValue(model, propertyName);
            values.Add(value);
        }
        return values;
    }

    private string GetPropertyValue(object model, string propertyName)
    {
        if (propertyName.Equals("Name", StringComparison.OrdinalIgnoreCase))
        {
            var firstNameProperty = model.GetType().GetProperty("Fname", BindingFlags.IgnoreCase | BindingFlags.Public | BindingFlags.Instance);
            var lastNameProperty = model.GetType().GetProperty("Lname", BindingFlags.IgnoreCase | BindingFlags.Public | BindingFlags.Instance);
            if (firstNameProperty != null && lastNameProperty != null)
            {
                var firstName = firstNameProperty.GetValue(model)?.ToString();
                var lastName = lastNameProperty.GetValue(model)?.ToString();
                if (!string.IsNullOrEmpty(firstName) && !string.IsNullOrEmpty(lastName))
                    return $"{firstName} {lastName}";
            }
        }
        else
        {
            var property = model.GetType().GetProperties().FirstOrDefault(p => string.Equals(p.Name, propertyName, StringComparison.OrdinalIgnoreCase));
            if (property != null)
            {
                return property.GetValue(model)?.ToString();
            }
            else
            {
                foreach (var navigationProperty in model.GetType().GetProperties().Where(p => !p.PropertyType.IsValueType && p.PropertyType != typeof(string)))
                {
                    var relatedEntity = navigationProperty.GetValue(model);
                    if (relatedEntity != null)
                    {
                        var value = GetPropertyValue(relatedEntity, propertyName);
                        if (value != null)
                            return value;
                    }
                }
            }
        }
        return null;
    }

    private string SplitPropertyName(string propertyName)
    {
        return Regex.Replace(propertyName, "([a-z])([A-Z])", "$1 $2");
    }

    private string GetId(object model)
    {
        var idProperty = model.GetType().GetProperty("Id", BindingFlags.IgnoreCase | BindingFlags.Public | BindingFlags.Instance);
        if (idProperty != null)
        {
            var id = idProperty.GetValue(model)?.ToString();
            return id;
        }
        return null;
    }
}

<table id="dataTable" class="display">
    <thead>
        <tr>
            @foreach (var propertyName in (List<string>)ViewData["propertiesToShow"])
            {
                <th>@SplitPropertyName(propertyName)</th>
            }
            @* @if (!(ViewBag.Controller == "StudentAffairs" && ViewBag.Action == "AllAttendance")) *@
            @* { *@
                <th>Actions</th>
            @* } *@
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                @foreach (var value in GetSelectedProperties(item, (List<string>)ViewData["propertiesToShow"]))
                {
                    <td>@value</td>
                }
                <td class="lastTd">
                    @if (ViewBag.Controller == "Employee" && ViewBag.Action == "index")
                    {

                        <a asp-action="Details" asp-controller="Employee" asp-route-id="@GetId(item)"><i class="fa-solid fa-eye text-primary"></i></a>
                        @: &nbsp;&nbsp;
                        <a asp-action="Update" asp-controller="Employee" asp-route-id="@GetId(item)"><i class="fa-solid fa-pen-to-square text-secondary"></i></a>

                        @: &nbsp;&nbsp;
                        <a asp-action="Delete" asp-controller="Employee" asp-route-id="@GetId(item)" onclick="return confirmDelete('@GetId(item)')">
                            <i class="fa-solid fa-trash-can text-danger"></i>
                        </a>
                    }
                    else if ((ViewBag.Controller == "Security" && ViewBag.Action == "AllStudents" || ViewBag.Action == "AllInstructors") || ViewBag.Controller == "StudentAffairs" && ViewBag.Action == "TakeAttendance")
                    {

                        <div class="row">
                            
                            @{
                                var studentId = GetId(item); // Rename 'id' to 'studentId'
                                Attendance existingAttendance = Attendance.GetByIdAndDate(Int32.Parse(GetId(item)), DateOnly.FromDateTime(DateTime.Today));
                                bool Timeout=false;

                                if (existingAttendance!=null)
                                {
                                    if (existingAttendance.TimeOut!=null)
                                    {
                                        Timeout = true;
                                    }
                                }
                                else
                                {
                                    Timeout = true;
                                }

                            }          <div class="col-md-4">
@*                                     <form method="post" asp-action="ConfirmStudentAttendace" asp-controller="Security" asp-route-id="@studentId">
                        *@           <button type="submit" class="btn btn-success btn-sm confirmAtt" data-id="@studentId" @(existingAttendance != null ? "disabled" : "enabled")>
                                            Confirm Attendance
                                        </button>    
@*                                     </form>
 *@                                </div>
                                <div class="col-md-4">
                                    @* <form method="post" asp-action="ConfirmStudentCheckout" asp-controller="Security" asp-route-id="@studentId"> *@
                                        
                                <button type="submit" class="btn btn-danger btn-sm leave " data-id="@studentId" @((Timeout  ) ? "disabled" : "enabled")>Confirm Leave</button>
                                    @* </form> *@
                                </div>
                            
                        </div>


                    }
                    else if (ViewBag.Controller == "StudentAffairs" && ViewBag.Action == "AllAttendance")
                    {
                        <a asp-action="Update" asp-controller="Employee" asp-route-id="@GetId(item)"><i class="fa-solid fa-pen-to-square text-secondary"></i></a>

                    }
                    @*






                ViewBag.PropertiesToShow = propertyNames;
                ViewBag.Controller = "StudentAffairs";
                ViewBag.Action = "AllAttendance";
                 else
                    {
                        <a asp-action="Details" asp-controller="@nameof(Model)" asp-route-id="@GetId(item)"><i class="fa-solid fa-eye text-primary"></i></a> @:&nbsp;&nbsp;
                        <a asp-action="Update" asp-controller="@nameof(Model)" asp-route-id="@GetId(item)"><i class="fa-solid fa-pen-to-square text-secondary"></i></a>

                        @: &nbsp;&nbsp;
                        <a asp-action="Delete" asp-controller="@nameof(Model)" asp-route-id="@GetId(item)" onclick="return confirmDelete('@GetId(item)')">
                            <i class="fa-solid fa-trash-can text-danger"></i>
                        </a>
                    } *@
                </td>
            </tr>
        }

    </tbody>

</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    function confirmDelete(employeeId) {
        if (confirm("Are you sure you want to delete this employee?")) {
            alert("The employee has been deleted successfully.");
            return true;
        } else {
            return false;
        }
    }


    var btn = $(".confirmAtt");
    var btnLeave = $('.leave');
    var studentId = btn.data('id');


    function handleButtonClick(btn, studentId, btnLeave) {
        
        $.get('@Url.Action("ConfirmStudentAttendace", "Security")', { Id: studentId })
            .done(function (data) {
                if (!data.isAdded) {
                    btn.prop('disabled', true);
                    btnLeave.prop('disabled', false);
                    console.log("confirmed");

                } else {
                    btn.prop('disabled', false);
                    btnLeave.prop('disabled', true);
                    console.log("No Records")


                }
            });
    }
    $(document).ready(function () {
        $(".confirmAtt").click(function () {
            let btnConfirm = $(this); // The Confirm button that was clicked
            let studentId = btnConfirm.data('id'); // Student ID from data attribute
            let btnLeave = btnConfirm.closest('tr').find('.leave'); // Find the Leave button in the same row

            // Call AJAX to check and update button states based on server response
            $.get('@Url.Action("ConfirmStudentAttendace", "Security")', { Id: studentId })
                .done(function (data) {
                    if (data.isAdded) {
                        btnConfirm.prop('disabled', true); // Disable the Confirm button
                        btnLeave.prop('disabled', false); // Enable the Leave button
                        console.log(btnLeave);
                        console.log(btnConfirm);
                        console.log("Attendance confirmed");
                    } else {
                        btnConfirm.prop('disabled', false); // Ensure the Confirm button is enabled
                        btnLeave.prop('disabled', true); // Ensure the Leave button is disabled
                        console.log("No records to update");
                    }
                })
                .fail(function (error) {
                    console.log("Error handling the attendance confirmation:", error);
                });
        });
    });




    $(document).ready(() => {
        $(".leave").click(function () {
            let btn = $(this); // Select the clicked button
            let studentId = btn.data('id'); // Get the student ID associated with the clicked button
            console.log(studentId);
            // Function to handle button click
            function handleButtonClick() {
                $.get('@Url.Action("ConfirmStudentCheckout", "Security")', { Id: studentId })
                    .done(function (data) {
                        if (data.isAdded) {
                            btn.prop('disabled', true);
                            console.log("confirmed");
                        } else {
                            btn.prop('disabled', true);
                        }
                    });
            }

            // Initial check on page load
            $.get('@Url.Action("ConfirmStudentCheckout", "Security")', { Id: studentId })
                .done(function (data) {
                    if (!data.isAdded) {
                        btn.prop('disabled', true);
                        console.log("confirmed");
                    }
                });

            // Call the handleButtonClick function when the button is clicked
            handleButtonClick();
        });
    });


</script>