@model Student;
@{
    ViewData["Title"] = "create";
    Layout = "~/Views/Shared/MainLayout.cshtml";

    List<Track> Tracks = ViewBag.tracks as List<Track>;
    SelectList tracks = new SelectList(Tracks, "TrackId", "TrackName");
    var GenderVal = Enum.GetValues(typeof(Gender));

}

<link rel="stylesheet" href="/css/StudentForm.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<form asp-action="create">
    <div id="focus"></div>
    <h1>Add Student</h1>
    <div style="display: flex;">
        <div style="display: flex;flex-direction: column; width: 50%;">
            <span asp-validation-for="@Model.Fname"></span>
            <input type="text" placeholder="First name" asp-for="@Model.Fname">
        </div>
        <div style="display: flex;flex-direction: column; width: 50%;">

            <span asp-validation-for="@Model.Lname"></span>
            <input type="text" placeholder="Last name" asp-for="@Model.Lname">
        </div>

    </div>


    <div style="display: flex;flex-direction: column;">
        <span asp-validation-for="@Model.Email"></span>
        <input type="email" placeholder="Mail" asp-for="@Model.Email">
    </div>


    <div style="display: flex;">
        <div style="display: flex;flex-direction: column; width: 50%;">
            <span asp-validation-for="@Model.Password"></span>
            <input type="text"  placeholder="PassWord" asp-for="@Model.Password">

        </div>
        <div style="display: flex;flex-direction: column; width: 50%;">
            <span asp-validation-for="@Model.Mobile"></span>
            <input type="text"  placeholder="Mobile" asp-for="@Model.Mobile">
        </div>

    </div>

    <div style="display: flex;flex-direction: column;">

        <span asp-validation-for="@Model.University"></span>
        <input type="text" placeholder="University" asp-for="@Model.University">
    </div>

    <div style="display: flex;">
        <div style="display: flex;flex-direction: column; width: 50%;">
            <span asp-validation-for="@Model.Faculty"></span>
            <input type="text"  placeholder="Faculty" asp-for="@Model.Faculty">

        </div>
        <div style="display: flex;flex-direction: column; width: 50%;">

            <span asp-validation-for="@Model.Specialization"></span>
            <input type="text"  placeholder="Specialization" asp-for="@Model.Specialization">
        </div>

    </div>



    <div style="display: flex;">
        <div style="display: flex;flex-direction: column; width: 50%;">
            <span asp-validation-for="@Model.BirthDate"></span>
            <input type="date"  placeholder="BirthDate" asp-for="@Model.BirthDate">

        </div>
        <div style="display: flex;flex-direction: column; width: 50%;">

            <span asp-validation-for="@Model.GraduationYear"></span>
            <input type="number"  placeholder="GraduationYear" asp-for="@Model.GraduationYear" min="1">
        </div>

    </div>
    <div style="display:flex; width: 100%;margin-bottom: 30px">
        <label asp-for="@Model.trackId" style=" width: 50%;">
            Select Track:
            <select asp-for="@Model.trackId" asp-items="tracks" class="styled-select">
            </select>
        </label>
        <label asp-for="@Model.gender" style=" width: 50%;">
            Select Gender:
            <select asp-for="@Model.gender" class="styled-select">

                @foreach (var value in GenderVal)
                {
                    <option value="@((int)value)">@value</option>
                }
            </select>
        </label>
    </div>

    <input type="submit">
    

</form>
@using (Html.BeginForm("UploadExcel", "StudentAffairs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="file" style="display:none;">Choose Excel file:</label>
        <label for="file" class="file-input-label">
            <img src="~/images/microsoft-excel.svg" width="70px" /> Upload Excel File
        </label>
        <input type="file" name="file" id="file" class="form-control-file" accept=".xlsx,.xls" style="display: none;" />
    </div>
    <button type="submit" class="btn btn-dark">Upload</button>
}
<script>
    $(document).ready(function () {
        const FORM = $(".form");
        const TYPES = ["input[type=text]", "input[type=email]", "input[type=date]", "input[type=number]", "input[type=submit]"];
        const FOCUS = $(".focus");

        function position(e) {
            var props = {
                top: e.offset().top,
                left: e.offset().left,
                width: e.outerWidth(),
                height: e.outerHeight(),
                radius: parseInt(e.css("border-radius"))
            };

            FOCUS.css({
                top: props.top,
                left: props.left,
                width: props.width,
                height: props.height,
                "border-radius": props.radius
            });

            FOCUS.fadeIn(200);
        }

        FORM.find(TYPES.join()).each(function (i) {
            $(this).focus(function () {
                el = $(this);
                $(window).resize(function () {
                    position(el);
                });
                position(el);
            });
        });

        FORM.on("focusout", function (e) {
            setTimeout(function () {
                if (!e.delegateTarget.contains(document.activeElement)) {
                    FOCUS.fadeOut(200);
                }
            }, 0);
        });
    });
</script>
