@model Track
@{
    ViewData["Title"] = "Display";
}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 25px;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    a {
        color: black;
        text-decoration: none;
    }

    .create {
        margin-top: 200px;
        margin-left: 1070px;
        background-color: black;
        color: white;
        padding: 10px 10px;
    }

        .create:hover {
            background-color: darkred;
            color: white;
        }

    a:hover {
        text-decoration: none;
        color: red;
    }
</style>

<table>
    <tr>
        <th>Name</th>
        <th>Status</th>
        
        <th>Capacity</th>
        
        <th colspan="4">Actions</th>
    </tr>
  
        <tr>
            <td>@Model.TrackName</td>
            <td>@Model.Status</td>
           
            <td>@Model.Capacity</td>
          
  
            <td><a asp-action="GetInstructorsForInsTrack" asp-controller="InsTrack" asp-route-id="@Model.TrackId"> <i class="fa-solid fa-eye"></i>  Instructor</a></td>
            <td><a asp-action="showstudentinInsTrack" asp-controller="InsTrack" asp-route-id="@Model.TrackId"><i class="fa-solid fa-eye"></i>       Students</a></td>
        <td><a asp-action="Edit" asp-controller="InsTrack" asp-route-id="@Model.TrackId"> <i class="fa-regular fa-pen-to-square"></i></a></td>
            
        </tr>
    
</table>





