@model AttendanceTrackingSystem.Models.Student

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container">
    <h1>User Profile</h1>
    <form asp-action="UpdateStudentProfile" asp-route-id="@Model.Id" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="Fname" value="@Model.Fname">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="Lname" value="@Model.Lname">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" value="@Model.Email" disabled>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input type="text" class="form-control" id="mobile" name="Mobile" value="@Model.Mobile">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="university">University</label>
                    <input type="text" class="form-control" id="university" name="University" value="@Model.University">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="faculty">Faculty</label>
                    <input type="text" class="form-control" id="faculty" name="Faculty" value="@Model.Faculty">
                </div>
            </div>
        </div>

        <!-- Save Changes button -->
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary" value="Save Changes">
                </div>
            </div>
        </div>
        <!-- End of Save Changes button -->
    </form>
</div>

<!-- Reset Password Modal -->
<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resetPasswordModalLabel">Reset Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="UpdatePasswordOnProfile" asp-controller="Account">
                    <div class="form-group">
                        <label for="oldPassword">Old Password</label>
                        <input type="password" class="form-control" id="oldPassword" name="OldPassword" placeholder="Old Password" required>
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="NewPassword" placeholder="New Password" required>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm New Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" placeholder="Confirm New Password" required>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End of Reset Password Modal -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        // Show the Reset Password modal when the button is clicked
        $('#resetPasswordBtn').click(function () {
            $('#resetPasswordModal').modal('show');
        });
    });
</script>
