@model AttendanceTrackingSystem.Models.User

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container">
    <h1 class="Profile">User Profile</h1>
    <form asp-action="UpdateUserProfile" asp-route-id="@Model.Id" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="Fname" value="@Model.Fname">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="Lname" value="@Model.Lname">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" value="@Model.Email" disabled>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input type="text" class="form-control" id="mobile" name="Mobile" value="@Model.Mobile">
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary" value="Save Changes">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group text-center">
                    <button class="btn btn-warning">
                        <a class="text-white" asp-action="ResetPasswordEmail" asp-controller="Account">Reset Password</a>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
